---
layout: default
---

<div class="row ">
  
  <div class="col-lg-4 offset-md-1">
    {% include side_profile.html %}    
  </div>

  <div class="col-lg-7">
    <div class="card">
      <h2> {% t research_interest %} </h2>
      {% translate_file author_research_interests.html %}
    </div>
    
    {% if site.show_author_work_experiences == true %}
    <div class="card">
      <h2 class="card-title"> {% t work_experience %} </h2>
      <br />
      {% for exp in site.translations[site.lang]["work_experience_details"] %}
      {% if exp.visibility == true %}
      <div class="row">
        <div class="col-md-2">
          <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ exp.company_logo }}" class="company-logo" />
        </div>
        <div class="col-md-6">
          <h4 class="experience-title"> {{ exp.designation }}</h4>
          <h6 class="experience-info"> {{ exp.years}}</h6>
          <h6 class="experience-info"> {{ exp.company_name}}</h6>
          <p class="experience-desc"> {{ exp.description }} </p>
          <p><a href="{{exp.company_url}}">{{ exp.company_url}}</a></p>
        </div>
      </div>
      {% endif %}
      
      {% endfor %}
    </div>
    {% endif %}
    
    
    {% if site.show_author_education_details == true %}
    <div class="card">
      <h2 class="card-title"> {% t education %} </h2>
      <br />
      {% for detail in site.translations[site.lang]["education_details"] %}
      {% if detail.visibility == true %}
      <div class="row">
        <div class="col-md-2">
          <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ detail.college_logo}}" class="company-logo" />
        </div>
        <div class="col-md-6">
          <h4 class="experience-title"> {{detail.college_degree }}</h4>
          <h6 class="experience-info">{{detail.years}}</h6>
          <h6 class="experience-info">{{detail.college_name}}</h6>
          <p class="experience-desc"> {{detail.description}} </p>
          <p><a href="{{detail.college_url}}">{{ detail.college_url}}</a></p>
        </div>
      </div>
      {% endif %}
      
      {% endfor %}
    </div>
    {% endif %}
    
    <div class="card">
      <h2> {% t awards %} </h2>
      {% translate_file author_awards.md %}
    </div>
    
    <div class="card">
      <h2> {% t society %} </h2>
      {% translate_file author_society.md %}
    </div>
    
    <div class="card">
      <h2> {% t hobby %} </h2>
      {% translate_file author_hobbies.md %}
    </div>
    
  </div>
</div>
